<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.alphamobilecolombia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:hasCode="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:targetSandboxVersion="2"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:hasCode">
        <activity
            android:name=".mvp.activity.CapturaInformacionActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_captura_informacion"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".mvp.activity.ActualizacionActivity"
            android:label="@string/title_activity_actualizacion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.activity.ArchivosV2Activity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_archivos_v2"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".mvp.activity.InicialActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.activity.CapturarActivity"
            android:label="@string/title_activity_capturar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.activity.ArchivosActivity"
            android:label="@string/title_activity_archivos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.activity.CamaraActivity"
            android:label="@string/title_activity_camara"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.activity.UploadFilesActivity"
            android:label="@string/title_activity_upload_files"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.activity.FinalActivity"
            android:noHistory="true"
            android:label="@string/title_activity_final"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.activity.TerminosActivity"
            android:label="@string/title_activity_terminos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.activity.ScannerActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_scanner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.activity.ModuloActivity"
            android:label="@string/title_activity_modulo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.activity.DemoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.activity.WebViewUpdFilesActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".mvp.activity.ConsultaCreditosActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>